.flex-container-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height:100vh;
  width: 100vw;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
  width: 55vw;
  height: calc(89vh - 50px);
  max-height: calc(89vh - 50px);
  overflow-y: auto;
  margin-bottom: 3vh;
}

.msg {
  display: flex;
  flex-direction: column;
}

.msg-info {
  font-weight: bold;
}

.msg-content {

}

.msg-enter {
  margin-bottom: 4vh;
  height:7vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;

}

.msg-inner {
  display: flex;
  /* width: 80vw; */
  flex-direction: row;
}

.text {
  flex: 1 1 100%
}

.send {
  width: 8vw;
}

.flex-item {
  
}

.header-container-chat {
  /* display: flex;
  justify-content: center; */
  display: flex;
  background-color: #372c2e;
  width:100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 6vh;
  border-bottom: 2px solid white;
}

.header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 2.6vh;
  color: #c8d8cf;
}

.title {
  /* display: flex;
  justify-content: center; */
  color: #ffffff;
  font-family: 'Akrobat';
  font-weight: bold;
  font-size: 100px;
  margin-top: 18vh;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  /* display: flex;
  justify-content: center; */
}



.header.create {
  margin-right: 60vw;
}

.button.btn-disconnect {
  /* display: flex;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 10vw;
  height: 30px;
  font-family: 'Lexend Exa';
  text-align: center;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn.blur:focus{
  /* display: flex;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 10vw;
  height: 30px;
  font-family: 'Lexend Exa';
  text-align: center;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn.btn-disconnect:active {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  transform: scale(0.95);
  font-family: 'Lexend Exa';
  text-align: center;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-disconnect:hover {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 10vw;
  height: 30px;
  font-family: 'Lexend Exa';
  text-align: center;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-disconnect:focus {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 10vw;
  height: 30px;
  font-family: 'Lexend Exa';
  text-align: center;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-disconnect:visited {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #8C5E58;
  margin: 3vh;
  width: 10vw;
  height: 30px;
  font-family: 'Lexend Exa';
  text-align: center;
  font-size: 2vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}