.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #372c2e;
  height:100vh;
  width: 100vw;
  
}

.flex-item {

}

.content {
  width: 55vw;
}

.form.front-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55vw;
  margin: 3vh;
}

.name-input.front-page {
  flex-grow: 1;
  margin: 0;
}

.header-container {
  /* display: flex;
  justify-content: center; */
  display: flex;
  background-color: #372c2e;
  width:100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid white;
}

.header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 21.67px;
  color: #c8d8cf;
}

.title {
  /* display: flex;
  justify-content: center; */
  color: #ffffff;
  font-family: 'Akrobat';
  font-weight: bold;
  font-size: 100px;
  margin-top: 18vh;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  /* display: flex;
  justify-content: center; */
}

.button.btn-primary {
  /* display: flex;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 55vw;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn.blur:focus{
  /* display: flex;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 55vw;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn.btn-primary:active {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  transform: scale(0.95);
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-primary:hover {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 55vw;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-primary:focus {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin: 3vh;
  width: 55vw;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-primary:visited {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #8C5E58;
  margin: 3vh;
  width: 55vw;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}
.button-label{
  font-size: 3.8vh;
}





.button.btn-secondary {
  /* display: flex;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #ffffff;
  margin-left: 3vh;
  width: 15rem;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-secondary.blur:focus{
  /* display: flex;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #ffffff;
  margin-left: 3vh;
  width: 15rem;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn.btn-secondary:active {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin-left: 3vh;
  transform: scale(0.95);
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-secondary:hover {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin-left: 3vh;
  width: 15rem;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-secondary:focus {
  background-color: #563727;
  border-color: white;
  color: #ffffff;
  margin-left: 3vh;
  width: 15rem;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}

.button.btn-secondary:visited {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: #8C5E58;
  margin: 3vh;
  width: 15rem;
  margin-right: 0;
  margin-top: 0;
  height: 11vh;
  font-family: 'Lexend Exa';
  font-size: 3.3vh;
  font-weight: 800;
  border-radius: 1.2vh;
  border-width: 1.77px;
}